/* Swiper */

/* Swiper customization */
:root {
    --swiper-pagination-bullet-horizontal-gap: 8px;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-inactive-color: #dac5a7;
    --swiper-pagination-bullet-inactive-opacity: .4;
    /* --swiper-pagination-color: var(--page-bg); */
    /* --swiper-navigation-top-offset: 24%; */
    /* --swiper-pagination-bottom: 10px; */
    --swiper-pagination-bottom: -4px;
}

.swiper-pagination{ display: none;}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .7 !important;
    transform: scale(0.95);
    /* color: var(--333333) !important; */
}

.swiper-button-prev, .swiper-rtl .swiper-button-next,
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    color: var(--text-color) !important;
}

/* Swiper Styles */
.swiper-slider {
    position: relative;
    padding-block: 60px 40px;
    width: 100%;
    /* height: px; */
}

.swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
}

.swiper-3d {
    perspective: 440px;
}

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    /* max-width: 370px; */
    /* aspect-ratio: 450/322; */

}

.swiper-slide-text {
    position: absolute;
    top: 10%;
    color: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-set {
    position: absolute;
    top: 0;
    left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.swiper-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 500px;
    padding: 4px 4px;
    width: 42px;
    height: 42px;
    backdrop-filter: blur(5px);
    background: var(--background-muted);
}


.swiper-button-next, .swiper-button-prev {
    position: static;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after  {
    content: '';
}

.swiper-pagination-bullet {
    background: var(--text-color);
    cursor: pointer;
}

.arrow {
    width: 24px;
    stroke: var(--text-color);
}

@media (max-width: 768px) {
    .swiper-slider {padding-block: 35px 15px;}
}

@media (max-width: 1800px) {
    .swiper-pagination{ display: block;}
}

@media (max-width: 499px) {
    :root {
        --swiper-pagination-bullet-horizontal-gap: 6px;
        --swiper-pagination-bullet-size: 8px;
        --swiper-pagination-bottom: 10px;
    }

    .swiper {padding-bottom: 0;}
    .swiper-button-set {display: none;}
    .swiper-pagination{ display: none;}
}
