/* Arik */
:root {
    --text-default: #dac5a7;
    --text-muted: #dac5a799;
    --muted: #dac5a73d;
    --muted-dark: #0e0e0e3d;
    --text-inverse: #0e0e0e;
    --text-inverse-muted: rgba(255, 255, 255, 0.6);
    --background-default: #0e0e0e;
    --background-default-ft: #181716;
    --background-primary: #dac5a7;
    --background-light: #fefaee;
    --background-light: #fff6db;
    --background-darkmode: #746450;
    --background-secondary: #1a1a1a;
    --background-muted: rgba(218, 197, 167, 0.05);
    --background-muted-2: rgba(255, 255, 255, 0.07);
    --background-muted-tl: #191817;
    --border-default: rgba(218, 197, 167, 0.15);
    --border-inverse: rgba(255, 255, 255, 0.12);
    --border-tl: #36322d;
    --icon-default: #dac5a7;
    --icon-inverse: #0e0e0e;

    /* Fonts */
    /* --font-family: "Satoshi", sans-serif;
    --second-family: "Chillax", sans-serif; */
    --font-family: "Satoshi";
    --second-family: "Chillax";
    --third-family: "Gambetta";
    --font-alter:'Futura PT Book';
    --font2: 'Antarctic';
    --font3: 'Larisa script';
    --font4: 'Hero';
    --font5: 'Garet';
    --font-cursive: "Great Vibes", cursive;

    --font6: 'Code Next-Trial', sans-serif;


    /* Timeline */
    --padding: 48px;
    --outline: 16px;
    --padding-before: 7.11%;
}
/* =======  End Arik  ========= */

:root {
    --text-color: #1E1E1E;
    --accent: #E58411;
    --text-muted: #8D8D8D;
    --text-card-darkblue: #0D1B39;

    --header-text-color: #fff;

    --footer-text-color: rgba(255, 255, 255, 0.8);
    --footer-accent: #F6973F;
    --footer-bg: #2D2F33;
 
    --cart-bg: #f7f7f7;

    /* --font-family: "Montserrat", sans-serif; */
    /* --font-family: "DM Sans", sans-serif; */
    /* --second-family: "Nunito", sans-serif; */

    --font-main: 'Gilroy', sans-serif;
    --font-cards: 'Inter', sans-serif;
    --font-footer-accent: 'DM Sans', sans-serif;
}

/* Описываем переменные */
:root {
  --blackpure: #000;
  --black: #171718; /* черный цвет */
  --black-border: #26292d;
  --white: #fff;
  --purple: #5C62EC;

  --text-color: var(--black);
  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --header-text: var(--text-color);
  --accent: var(--purple);

  /* Light mode */
  --page-bg: var(--background-light);
  --text-color: var(--text-inverse);
  --border-color: var(--muted-dark);
  --title-1: var(--accent);

  /* для карточек */
  --project-card-bg: var(--background-default-ft);
  --project-card-text: var(--black);
  --box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.7);
}


/* Установки для темной темы */
.dark {
  /* Dark mode */
  --page-bg: #252526;
  --text-color: var(--white);
  
  --page-bg: var(--background-default);
  --text-color: var(--text-default);
  --border-color: var(--muted);

  --title-1: var(--white);

  /* для карточек */
  --project-card-bg: var(--background-muted-2);
  --project-card-text: var(--white);
  --project-desc-ref:var(--accent);
  --box-shadow: 0px 5px 35px 0px rgba(100, 100, 100, 0.8);
}