.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-nav-title {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-align: justify;
    color: var(--text-default);
}

.ru .footer-nav-title {
    font-family: var(--font-family);
    font-family: var(--font5);
 }

.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nav-item:hover {}

.footer-nav-link {
    display: block;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: start;
    color: var(--text-muted);

    transition: all 0.3s ease-in;
}

.ru .footer-nav-link {
    font-family: var(--font5);
}

.footer__nav--contacts .footer-nav-link {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    
    text-transform: unset;
}

.nav-link:hover {
    filter: brightness(120%);
}

.nav__btn {margin-left: 0;}

@media (max-width: 550px) {.footer__nav {gap: 20px;}}
