/* ------------- Header ------------- */
.header {
  padding: 40px 0 20px;
  /* min-height: 695px; */
  height: 700px;

  display: flex;
  justify-content: center;
  align-items: end;

  color: var(--header-text);
  text-align: center;

  /* background-color: var(--dark-bg); */
  background-color: #7f7f7f;
  /* background-image: url('../../img/header-bg.png'); */
  background-image: url('../../img/header/aka-bg.jpg');
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__wrapper {
  padding: 0 15px;
  max-width: 860px;

  /* border: 1px solid var(--border-default); */
  /* border-radius: 12px;
  backdrop-filter: blur(3px);
  background: var(--background-muted);*/
} 

.header__title {
  line-height: 1.4;
  font-weight: 300;
  font-size: 100px;
  line-height: 100%;
  text-align: center;
  color: var(--text-default);
  text-transform: capitalize;
  font-family: "Gambetta";
  font-style: italic;
  font-family: var(--font-cursive);
  letter-spacing: 0.06em;
  font-weight: 400;
  text-shadow: var(--background-muted-2) 0 0 6px;
}

.header__title strong {
  font-size: 60px;
  font-weight: 700;
}

.header__title em {
  font-style: normal;
  color: var(--purple);
}

.header__text {
  display: inline-block;
  font-family: var(--second-family);
  font-weight: 300;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.06em;
  font-size: 44px;
  /* font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem); */
  /* line-height: 150%; */
  text-align: center;
  color: var(--text-muted);
  color: var(--text-default);
  text-shadow: var(--text-default) 0 0 1px;
  backdrop-filter: blur(3px);
  /* background: var(--background-muted-2); */
}

/* для всех тэгов <p> и соседних (кроме первого) оступ сверху 
1em (1 * на высоту шрифта [18px]) */
.header__text p + p {
  margin-top: 0.5em;
}

@media (max-width: 676px) {
    .header {
      height: 500px;
      background-image: url('../../img/header/aka-bg-nl-700.jpg');      
    }

    .header__title{font-size: 60px;}
    .header__text{font-size: 32px;}
}

@media (max-width: 452px) {
    .header {
      height: 400px;
      background-image: url('../../img/header/aka-bg-nl-700.jpg');      
    }

    .header__title{font-size: 40px;}
    .header__text{font-size: 20px;}
}