/* ------------- Navigation ------------- */
.nav {
  /* padding: 20px 10px;
  color: var(--header-text);
  background-color: var(--dark-bg);
  border-bottom: 1px solid var(--dark-border);
  letter-spacing: normal; */
  position: absolute;
    top: 16px;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 32px;

    padding: 10px;
    color: var(--text-default);

    /* border: 1px solid var(--border-default);
    border-radius: 12px;
    backdrop-filter: blur(30px);
    background: var(--background-muted); */
    /* padding: 12px 12px 12px 24px; */
    /* width: 576px;
    height: 65px; */
}

.nav-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* justify-content: space-between; меняем на flex-end, чтобы кнопку-переключатель
  выровнять справа */
  align-items: center;
  column-gap: 40px; /* расстояние между колонками */
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 10px;
  
  width: 158px;
  
  /* color: var(--header-text);
  font-size: 24px;
  font-family: "Poppins", sans-serif; */

  font-family: var(--second-family);
  font-weight: 300;
  font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
  font-size: 14px;
  line-height: 150%;
  color: var(--text-default);
  letter-spacing: 2;
}

.logo .strong {
  font-weight: 700;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  row-gap: 10px;

  font-size: 16px;
  font-weight: 500;
  /* font-family: "Poppins", sans-serif; */
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;

  line-height: 160%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--text-default);

  padding: 10px 20px;
  border: 1px solid var(--border-default);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  background: var(--background-muted);
}

.nav-list__link {
  color: var(--header-text);
  color: var(--text-default);
  transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
  opacity: 0.8;
}

.nav-btn-set {
  padding-inline: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.lang {
  display: flex;
  column-gap: 10px;

  margin-right: 30px;
}

.lang__item {
  margin: 0 auto;
  color: var(--text-muted);
  opacity: 0.8;
  transition: all 0.2s ease-in;
}

.lang__item--active {
  opacity: 1;
  color: var(--header-text);
  color: var(--text-default);
  cursor: auto;
}

.lang__item:hover {
  opacity: 1;
  transform: scale(1.2);
}

/* Рисуем подчеркивание активного элемента */
.lang__item--active,
.nav-list__link--active {
  position: relative;
}

/* .nav-list__link--active::before, */
.lang__item--active::before {
  /* content: ""; */
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
}