/* ------------- Projects ---------------- */
.nav-projects {
  color: var(--text-color);
  padding-block: 20px;
  /* background: var(--background-default-ft); */
}

.nav.nav-projects  {
  border: 1px solid var(--text-color);
  border-radius: 12px;
  /* background: var(--background-default-ft); */
}

.nav-projects .nav-list__link {
  color: var(--text-color);
}

.nav-projects .logo {color: var(--text-color);}

.nav-projects .lang__item--active {color: var(--text-color);}
.nav-projects .lang__item--active::before {background-color: var(--text-color);}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 28px;
  row-gap: 30px;
}

.project {
  position: relative;
  max-width: 400px;
  aspect-ratio: 450/322;
  width: 100%;

  box-shadow: var(--box-shadow);
  border-radius: 10px;
  background-color: var(--background-muted-2);
  background-color: var(--project-card-bg);
  background-image: image-set(
      url('./../../img/projects/overlay-noise.png') 1x,
      url('./../../img/projects/overlay-noise@2x.png') 2x
  );
  /* mix-blend-mode: difference; */
  transition: all 0.3s ease-in;
}

.project__img-wrapper {
  width: 100%;
  /* height: 80%; */
}

.project::after {
    /* content: ""; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--background-muted-2); */
    /* background-image: image-set(
        url('./../../img/projects/overlay-noise.png') 1x,
        url('./../../img/projects/overlay-noise@2x.png') 2x
    ); */
    /* transition: all 0.3s ease-in; */
}

.project:hover {
  opacity: 1;
  transform: scale(1.02);
  transition: all 0.3s ease-in;
}

.project:hover::after {background-image: unset;}

.project__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: top center;
  overflow: hidden;
}

.project__title {
  padding: 8px 8px;

  position: absolute;
  left: 50%;
  bottom: 10px;
  bottom: 4px;
  z-index: 9;
  
  width: 90%;
  text-align: center;

  transform: translateX(-50%);

  font-family: var(--font-family);
  font-weight: 300;
  font-size: 21px;
  line-height: 110%;
  letter-spacing: 0.04em;

  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;

  color: var(--text-default);
  backdrop-filter: blur(8px);
  background: rgba(70, 70, 70, 0.7);
}

.ru .project__title {
  font-family: var(--font5);
}

.project__icon {
  position: absolute;
  top: 16px;
  left: 8px;
  width: 25px;
}

@media (max-width: 700px) {.nav-projects .nav-row {row-gap: 20px;}}

@media (max-width: 648px) {
  .ru nav.nav-projects .nav-row {flex-wrap: wrap;}
  .ru .nav-list-projects {
    margin: auto;
    order: 3;
  }
}

@media (max-width: 582px) {
  nav.nav-projects .nav-row {flex-wrap: wrap;}
  .nav-list-projects {
    margin: auto;
    order: 3;
  }
}

@media (max-width: 440px) {
  .project__title {font-size: 18px;}
}
