.works {
    padding-block: 60px;
    /* padding-top: clamp(2.5rem, -4.423rem + 19.23vw, 10rem); */
}

.works__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px 10px;
    flex-wrap: wrap;
    padding: 0 32px 40px 32px;
    /* white-space: nowrap; */
}

.works__title {
    font-family: var(--font2);
    font-family: var(--font3);
    font-family: var(--font-family);
    /* font-style: italic; */
    font-weight: 500;
    font-size: 82px;
    font-size: 64px;
    line-height: 110%;
    color: var(--text-color);
}

.works__title span {
    /* font-family: "Gambetta", sans-serif; */
    font-family: var(--font2);
    font-family: var(--font3);
    font-family: var(--third-family);
    font-style: italic;
}

.ru .works__title {font-family: var(--font3); font-size: 82px;}
.ru .works__title span {font-family: var(--font3);}

.works__link {margin-left: auto;}

.works__grid {
    /* display: flex; */
    /* flex-wrap: wrap;
    justify-content: center;
    column-gap: 28px;
    row-gap: 30px; */
}

@media (max-width: 768px) {
    .works {padding-block: 40px 20px;}

    .ru .works__title {font-size: 64px;}
}

@media (max-width: 680px) {
    .ru .works__title {font-size: 50px;}
}

@media (max-width: 640px) {
    .works {padding-block: 30px;}

    .works__header {
        gap: 20px 10px;

        padding: 0 20px 40px 20px;
    }

    .works__title {font-size: 48px;}

    .works__grid {
        grid-template-columns: 1fr;
        /* gap: 20px; */
    }
}

@media (max-width: 499px) {
    .works {padding-block: 20px;}

    .works__header {
        padding: 0 10px 10px 10px;
    }

    .works__link {
        /* flex-direction: column; */
        gap: 8px;
        
        font-size: 10px;
    }
}

@media (max-width: 449px) {
    .works {padding-bottom: 10px;}

    .works__header {
        flex-wrap: wrap;
    }

    .works__link {
        flex-direction: row;
        gap: 8px;
    }

    .works__title {font-size: 40px;}

    .ru .works__title {font-size: 40px;}
}

